body {
  font-size: 14px;
}

h1, h2 {
  margin: 0;
}

h1 {
  background-color: darkblue;
  background-position: left;
  color: white;
  font-weight: bolder;
  display: inline;
}

#bio p {
  color: black;
}

#bio ul {
  color: black;
}

#h1 {
  background-color: darkred;
}

img {
  border: 1rem solid white;
  border-radius: 10px;
  height: auto;
}

a {
  padding: 0.25em;
  margin: 0.25em;
  border: 3px;
  color: blue;
}

a:visited {
  background-color: purple;
}

.skater {
  background-color: purple;
  width: 100%;
  color: grey;
}

#sochi {
  background-color: blue;
}

#pivot {
  background-color: red;
}

.events {
  background-color: grey;
  color: yellow;
}

#medals {
  color: black;
  background-color: purple;
}

.group {
  color: black;
  text-align: left;
}

#merica {
  font-style: italic;
  color: black;
  background-image: url("./images/ameri-flag.png");
}

.celebration {
  color: black;
}

#friends {
  background-color: yellow;
}

.friends {
  color: black;
}

.highlight {
  color: purple;
  text-decoration: underline;
}

footer p {
  font-family: arial;
  text-align: center;
}

.social-media {
  display: table;
  margin: auto auto;
}

.social-media img {
  height: 3em;
}
