html, body, * {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 0 auto;
  background-color: lightgrey;
  font-size: 12px;
  font-family: arial;
}

#header {
  height: 100%;
}

header a {
  color: white;
}

#nav {
  background-color: grey;
  padding: 0.5em 0;
  color: white;
}

li {
  display: inline;
  padding: 1em;
  margin-left: 4em;
  margin-bottom: 10em;
}

li.logo {
  display: inline;
  height: 10px;
  position: absolute;
  margin-left: 2.5rem;
  margin-top: -10rem;
}

.logo img {
  height: 100px;
  width: auto;
}

#main {
  overflow: auto;
}

.float-left {
  height: 100%;
  float: left;
}

.highlight-text {
  font-size: 12px;
  font-weight: bold;
  background: khaki;
}

.card {
  height: 100%;
  width: 30%;
  margin: 1%;
  text-align: center;
}

h2 {
  background-position: left;
  color: darkblue;
  font-weight: bolder;
  display: inline;
  text-align: center;
}

#bio p {
  color: black;
}

#bio ul {
  color: black;
}

img {
  border: 1px solid white;
  border-radius: 3px;
  width:100px;
  height:100px;
}

a {
  padding: 0.25em;
  margin: 0.25em;
  border: 1px;
  color: blue;
}

a:link {
  color: blue;
}

a:visited {
  color: white;
  background: red;
}

#nav a:hover {
  font-weight: bold;
  color: blue;

}
a:hover {
  color: white;
  background: maroon;
  text-decoration: underline;
}

.events {
  color: black;
}

#medals {
  color: black;
}

.group {
  color: black;
  text-align: left;
}

#merica {
  font-style: italic;
  color: black;
}

.celebration {
  color: black;
}

.friends {
  color: black;
  text-align: center;
}

.highlight {
  color: purple;
  text-decoration: underline;
}

#footer {
  margin: 0px auto;
  background-color: darkgrey;
  color: white;
}

footer p {
  font-family: arial;
  text-align: center;
}

.social-media {
  margin: 1px auto;
}

.social-media img {
  height: 3em;
  width: auto;
}
