html, body, * {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 0 auto;
  background-color: lightgrey;
  font-size: 14px;
}

header a {
  color: white;
}

#nav {
  background-color: grey;
  color: white;
}

li {
  display: inline;
  padding: -1rem;
  margin-left: 4rem;
  margin-top: 0rem;
}

li.logo {
  display: inline;
  position: absolute;
  margin-left: 2.5rem;
  margin-top: 0rem;
}

.logo img {
  height: 100px;
  width: auto;
}

h1, h2 {
  margin: 0;
}

#main {
  overflow: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.card {
  width: 20%;
}

h1 {
  background-position: left;
  color: darkblue;
  font-weight: bolder;
  display: inline;
}

#bio p {
  color: black;
}

#bio ul {
  color: black;
}

img {
  border: 1px solid white;
  border-radius: 3px;
  width:200px;
  height:200px;
}

a {
  padding: 0.25em;
  margin: 0.25em;
  border: 1px;
  color: blue;
}

a:visited {
  background-color: purple;
}

#bio {
  float: left;
}

.events {
  color: black;
}

#pivot {
}

#medals {
  color: black;
}

.group {
  color: black;
  text-align: left;
}

#merica {
  font-style: italic;
  color: black;
}

.celebration {
  color: black;
}

#friends {
}

.friends {
  color: black;
}

.highlight {
  color: purple;
  text-decoration: underline;
}

#footer {
  margin: 0px auto;
  background-color: darkgrey;
  color: white;
}

footer p {
  font-family: arial;
  text-align: center;
}

.social-media {
  display: block;
  margin: 0px auto;
}

.social-media img {
  height: 3em;
  width: auto;
}
